/* * {
    outline: 1px solid #00f;
} */

.Wrap {
    letter-spacing: -0.025em;
    min-width: 1900px;
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.Header .TopBanner {
    border-bottom: 1px solid #ddd;
    font-size: 13.1px;
}

.Header .TopBanner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header .TopBanner ul {
    display: flex;
    gap: 25px;
    line-height: 40px;
}

.Header .TopBanner a {
    display: inline-block;
}

#SearchForm .box {
    border: 1px solid #ddd;
    border-radius: 30px;
}

#SearchForm input[type="text"] {
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 4px 15px 5px;
}

#SearchForm input[type="text"]::placeholder {
    color: #999;
}

#SearchForm input[type="text"]:focus::placeholder {
    opacity: 0;
}

#SearchForm button {
    background: transparent;
    outline: none;
    border: none;
    margin: 0 5px 0 0;
    cursor: pointer;
}

.Header .Menu .container {
    display: flex;
    line-height: 100px;
}

.Header h1 {
    font-size: 0;
}

.Header .Gnb {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.Header .Gnb>ul {
    display: flex;
    gap: 60px;
    font-size: 17px;
    font-weight: 500;
}

.Header .Gnb a {
    display: inline-block;
}

.Header .Gnb a:hover {
    color: #017552;
}

.Header .Gnb li {
    position: relative;
}

.Header .Gnb li .smenu {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border: 1px solid #ddd;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.8);
    line-height: 30px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    opacity: 0;
    z-index: 999;
}

.Header .Gnb li:hover .smenu {
    opacity: 1;
}

.Header .mbtn {
    display: none;
}

.MainVisual {}

.MainVisual .MainSlider figure {
    position: relative;
    height: calc(100vh - 141px);
}

.MainVisual .slide01 {
    background: url(../img/main01.jpg) no-repeat center center/cover;
}

.MainVisual .slide02 {
    background: url(../img/main02.jpg) no-repeat center center/cover;
}

.MainVisual .slide03 {
    background: url(../img/main03.jpg) no-repeat center center/cover;
}

.MainVisual .swiper-pagination {
    bottom: 50px;
}

.MainVisual .swiper-pagination-bullet {
    width: 40px;
    height: 7px;
    border: 1px solid #017552;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    transition: width 1s;
}

.MainVisual .swiper-pagination-bullet-active {
    width: 70px;
    border: 1px solid #017552;
    background: #017552;
}

.MainVisual .inner {
    position: absolute;
    top: 50%;
    right: calc((100% - 1200px) / 2);
    transform: translateY(-50%);
    text-align: right;
}

.MainVisual .inner h2 {
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-shadow: 0 0 1px #fff;
}

.MainVisual .inner p {
    font-size: 23px;
    font-weight: 500;
    margin: 0 0 45px 0;
    text-shadow: 0 0 1px #fff;
}

.MainVisual .inner span {
    display: block;
    font-size: 17px;
    margin: 0 0 25px 0;
}

.MainVisual .inner a {
    display: inline-block;
    font-size: 15px;
    border: 1px solid #999;
    padding: 10px 15px 10px 20px;
    transition: 0.5s;
}

.MainVisual .slide02 a {
    border: 1px solid #333;
}

.MainVisual .inner a:hover {
    border: 1px solid #017552;
    background: #017552;
    color: #fff;
}

.Product {
    padding: 120px 0;
}

.Product h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15em;
    margin: 0 0 50px 0;
}

.Product .ProductSlider figure {
    position: relative;
    width: 100%;
    height: 547px;
}

.Product .swiper-slide {
    transform: scaleY(0.9);
    opacity: 0.4;
    transition: all 0.5s;
}

.Product .swiper-slide-active,
.Product .swiper-slide-next,
.Product .swiper-slide-prev {
    transform: scaleY(1);
    opacity: 1;
}

.Product .swiper-slide .inner {
    opacity: 0;
    transition: all 0.5s;
}

.Product .swiper-slide-active .inner,
.Product .swiper-slide-next .inner,
.Product .swiper-slide-prev .inner {
    opacity: 1;
}

.Product .swiper-slide img {
    margin: 0 0 30px 0;
}

.ProductSlider .inner {
    text-align: center;
}

.ProductSlider .inner p {
    font-size: 17px;
    margin: 0 0 10px 0;
}

.ProductSlider .inner span {
    display: block;
    font-size: 15px;
}

.Product .swiper-button-next::after {
    content: '\e907';
    font-family: 'xeicon';
}

.Product .swiper-button-prev::after {
    content: '\e906';
    font-family: 'xeicon';
}

.Product .swiper-button-next {
    right: 30px;
    left: auto;
    background: #fff;
    border-radius: 50%;
    padding: 30px;
    color: #333;
    opacity: 0.6;
}

.Product .swiper-button-next:hover {
    color: #017552;
    opacity: 1;
}

.Product .swiper-button-prev {
    right: auto;
    left: 30px;
    background: #fff;
    border-radius: 50%;
    padding: 30px;
    color: #333;
    opacity: 0.6;
}

.Product .swiper-button-prev:hover {
    color: #017552;
    opacity: 1;
}

.Natural {
    background: url(../img/background.jpg) no-repeat fixed center center/cover;
    padding: 120px 0;
}

.Natural h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15em;
    margin: 0 0 50px 0;
}

.Natural .container {
    display: flex;
    flex-direction: column;
}

.Natural .container>div {
    display: flex;
}

.Natural .Natural01 figure {
    animation-duration: 1s;
    --animate--infinite: infinite;
}

.Natural .inner {
    width: 50%;
    text-align: center;
    align-self: center;
}

.Natural .inner h3 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
}

.Natural .inner h3::after {
    content: "";
    display: block;
    margin: 25px auto 40px;
    width: 100px;
    height: 2px;
    background: #017552;
}

.Natural .inner p {
    line-height: 1.35;
    margin: 0 0 10px 0;
}

.Sns {
    padding: 120px 0;
}

.Sns h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.15em;
    margin: 0 0 50px 0;
}

.Sns .container>div {
    display: flex;
    gap: 10px;
}

.Sns .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Sns .box {
    overflow: hidden;
}

.Sns img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.Footer {
    font-size: 14px;
    font-weight: 300;
    align-self: center;
    background: #fbfbfb;
    color: #000;
}

.Footer .top {
    line-height: 80px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.Footer .top .container {
    display: flex;
    justify-content: space-between;
}

.Footer .top li {
    display: inline-block;
}

.Footer .top li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ddd;
    margin: 0 12px;
}

.Footer .link i {
    font-size: 20px;
    margin: 0 0 0 8px;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 10px;
}

.Footer .bottom {
    padding: 30px 0;
}

.Footer .bottom dt {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.Footer .bottom dt::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 30px;
    height: 2px;
    background: #ddd;
}

.Footer .bottom address {
    display: flex;
    justify-content: space-between;
}

.Footer .bottom dd {
    line-height: 1.35;
}

.Footer .bottom .cs {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

@media (max-width:768px) {
    .Wrap {
        letter-spacing: -0.025em;
        min-width: auto;
        overflow: hidden;
    }

    .container {
        width: auto;
        margin: 0 auto;
    }

    .Header .TopBanner {
        border-bottom: 1px solid #ddd;
        font-size: 13px;
    }

    .Header .TopBanner .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .Header .TopBanner ul {
        display: flex;
        gap: 0px;
        line-height: 35px;
    }

    .Header .TopBanner ul>li~li::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 8px;
        margin: 0 10px;
        background: #ddd;
    }

    .Header .TopBanner a {
        display: inline-block;
    }

    #SearchForm .box {
        border: 1px solid #ddd;
        border-radius: 30px;
    }

    #SearchForm input[type="text"] {
        outline: none;
        border: none;
        width: 160px;
        border-radius: 30px;
        padding: 4px 10px 5px;
    }

    #SearchForm input[type="text"]::placeholder {
        color: #999;
    }

    #SearchForm input[type="text"]:focus::placeholder {
        opacity: 0;
    }

    #SearchForm button {
        background: transparent;
        outline: none;
        border: none;
        margin: 0 5px 0 0;
        cursor: pointer;
    }

    .Header .Menu .container {
        display: flex;
        line-height: 100px;
    }

    .Header .Gnb h1 {
        position: absolute;
        font-size: 0;
        top: 0;
        left: auto;
    }

    .Header .Gnb {
        position: fixed;
        display: flex;
        justify-content: normal;
        flex-direction: column;
        flex: 1;
        top: 0;
        left: 0;
        width: calc(100% - 90px);
        height: 100vh;
        padding: 100px 20px 0 20px;
        background: #fff;
        border-right: 1px solid #ddd;
        z-index: 999;
    }

    .Header .Gnb>ul {
        display: flex;
        flex-direction: column;
        gap: 0px;
        font-size: 17px;
        line-height: 40px;
    }

    .Header .Gnb a {
        display: block;
    }

    .Header .Gnb a:hover {
        color: #017552;
    }

    .Header .Gnb li {
        position: relative;
    }

    .Header .Gnb li .smenu {
        position: static;
        top: 0px;
        left: 0%;
        transform: translateX(0%);
        width: auto;
        border: 1px solid #ddd;
        padding: 5px 20px;
        background: rgba(255, 255, 255, 0.8);
        line-height: 30px;
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        opacity: 1;
        z-index: 999;
    }

    .Header .Gnb li:hover .smenu {
        opacity: 1;
    }

    .Header .mbtn {
        display: block;
        text-align: right;
    }

    .MainVisual {}

    .MainVisual .MainSlider figure {
        position: relative;
        height: calc(100vh - 141px);
    }

    .MainVisual .slide01 {
        background: url(../img/main01.jpg) no-repeat center center/cover;
    }

    .MainVisual .slide02 {
        background: url(../img/main02.jpg) no-repeat center center/cover;
    }

    .MainVisual .slide03 {
        background: url(../img/main03.jpg) no-repeat center center/cover;
    }

    .MainVisual .swiper-pagination {
        bottom: 50px;
    }

    .MainVisual .swiper-pagination-bullet {
        width: 40px;
        height: 7px;
        border: 1px solid #017552;
        border-radius: 0;
        background: transparent;
        opacity: 1;
        transition: width 1s;
    }

    .MainVisual .swiper-pagination-bullet-active {
        width: 70px;
        border: 1px solid #017552;
        background: #017552;
    }

    .MainVisual .inner {
        position: absolute;
        top: 50%;
        right: calc((100% - 1200px) / 2);
        transform: translateY(-50%);
        text-align: right;
    }

    .MainVisual .inner h2 {
        font-size: 38px;
        font-weight: 700;
        margin: 0 0 15px 0;
        text-shadow: 0 0 1px #fff;
    }

    .MainVisual .inner p {
        font-size: 23px;
        font-weight: 500;
        margin: 0 0 45px 0;
        text-shadow: 0 0 1px #fff;
    }

    .MainVisual .inner span {
        display: block;
        font-size: 17px;
        margin: 0 0 25px 0;
    }

    .MainVisual .inner a {
        display: inline-block;
        font-size: 15px;
        border: 1px solid #999;
        padding: 10px 15px 10px 20px;
        transition: 0.5s;
    }

    .MainVisual .slide02 a {
        border: 1px solid #333;
    }

    .MainVisual .inner a:hover {
        border: 1px solid #017552;
        background: #017552;
        color: #fff;
    }

    .Product {
        padding: 120px 0;
    }

    .Product h2 {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.15em;
        margin: 0 0 50px 0;
    }

    .Product .ProductSlider figure {
        position: relative;
        width: 100%;
        height: 547px;
    }

    .Product .swiper-slide {
        transform: scaleY(0.9);
        opacity: 0.4;
        transition: all 0.5s;
    }

    .Product .swiper-slide-active,
    .Product .swiper-slide-next,
    .Product .swiper-slide-prev {
        transform: scaleY(1);
        opacity: 1;
    }

    .Product .swiper-slide .inner {
        opacity: 0;
        transition: all 0.5s;
    }

    .Product .swiper-slide-active .inner,
    .Product .swiper-slide-next .inner,
    .Product .swiper-slide-prev .inner {
        opacity: 1;
    }

    .Product .swiper-slide img {
        margin: 0 0 30px 0;
    }

    .ProductSlider .inner {
        text-align: center;
    }

    .ProductSlider .inner p {
        font-size: 17px;
        margin: 0 0 10px 0;
    }

    .ProductSlider .inner span {
        display: block;
        font-size: 15px;
    }

    .Product .swiper-button-next::after {
        content: '\e907';
        font-family: 'xeicon';
    }

    .Product .swiper-button-prev::after {
        content: '\e906';
        font-family: 'xeicon';
    }

    .Product .swiper-button-next {
        right: 30px;
        left: auto;
        background: #fff;
        border-radius: 50%;
        padding: 30px;
        color: #333;
        opacity: 0.6;
    }

    .Product .swiper-button-next:hover {
        color: #017552;
        opacity: 1;
    }

    .Product .swiper-button-prev {
        right: auto;
        left: 30px;
        background: #fff;
        border-radius: 50%;
        padding: 30px;
        color: #333;
        opacity: 0.6;
    }

    .Product .swiper-button-prev:hover {
        color: #017552;
        opacity: 1;
    }

    .Natural {
        background: url(../img/background.jpg) no-repeat fixed center center/cover;
        padding: 120px 0;
    }

    .Natural h2 {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.15em;
        margin: 0 0 50px 0;
    }

    .Natural .container {
        display: flex;
        flex-direction: column;
    }

    .Natural .container>div {
        display: flex;
    }

    .Natural .Natural01 figure {
        animation-duration: 1s;
        --animate--infinite: infinite;
    }

    .Natural .inner {
        width: 50%;
        text-align: center;
        align-self: center;
    }

    .Natural .inner h3 {
        position: relative;
        font-size: 24px;
        font-weight: 700;
    }

    .Natural .inner h3::after {
        content: "";
        display: block;
        margin: 25px auto 40px;
        width: 100px;
        height: 2px;
        background: #017552;
    }

    .Natural .inner p {
        line-height: 1.35;
        margin: 0 0 10px 0;
    }

    .Sns {
        padding: 120px 0;
    }

    .Sns h2 {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.15em;
        margin: 0 0 50px 0;
    }

    .Sns .container>div {
        display: flex;
        gap: 10px;
    }

    .Sns .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .Sns .box {
        overflow: hidden;
    }

    .Sns img:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
    }

    .Footer {
        font-size: 14px;
        font-weight: 300;
        align-self: center;
        background: #fbfbfb;
        color: #000;
    }

    .Footer .top {
        line-height: 80px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.5);
    }

    .Footer .top .container {
        display: flex;
        justify-content: space-between;
    }

    .Footer .top li {
        display: inline-block;
    }

    .Footer .top li~li::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 10px;
        background: #ddd;
        margin: 0 12px;
    }

    .Footer .link i {
        font-size: 20px;
        margin: 0 0 0 8px;
        border: 1px solid #ddd;
        padding: 8px;
        border-radius: 10px;
    }

    .Footer .bottom {
        padding: 30px 0;
    }

    .Footer .bottom dt {
        position: relative;
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 30px 0;
    }

    .Footer .bottom dt::after {
        content: "";
        position: absolute;
        top: 30px;
        left: 0;
        width: 30px;
        height: 2px;
        background: #ddd;
    }

    .Footer .bottom address {
        display: flex;
        justify-content: space-between;
    }

    .Footer .bottom dd {
        line-height: 1.35;
    }

    .Footer .bottom .cs {
        font-size: 21px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }
}